script(type='text/javascript' defer).
    const signUpBtn = document.getElementById('sign-up-btn');
    const loginBtn = document.getElementById('login-btn');
    const msgBtn = document.getElementById('msg-btn')

    const signUpFunc = () => {
        const form = document.getElementById('sign-up-form')
        const signUpModal = document.getElementById('sign-up');
        signUpModal.style.display = 'flex';

        const clearSForm = () => {
        form.elements['s_username'].value = ''
        form.elements['s_email'].value = ''
        form.elements['s_password'].value = ''
        form.elements['s_password_confirm'].value = ''
        signUpModal.style.display = 'none'

    }
        
        const cancelBtn = document.getElementById('sign-up-cancel')
        cancelBtn.onclick = (e) => {
            e.preventDefault()
            clearSForm()
        }

        const link = document.getElementById('change-to-login')
        link.onclick = () => {
            clearSForm()
            loginFunc()
            return false
        }

        const xIcon = document.getElementById('sign-up-x');
        xIcon.onclick = () => clearSForm()

        return false
    };

    const loginFunc = () => {
        const loginModal = document.getElementById('login')
        login.style.display = 'flex'
        const cancelBtn = document.getElementById('login-cancel')

        const form = document.getElementById('login-form')
        
        const clearLForm = () => {
        form.elements['username'].value = ''
        form.elements['password'].value = ''
        loginModal.style.display = 'none'
    }
        

        cancelBtn.onclick = (e) => {
            e.preventDefault()
            clearLForm()
        }
        const link = document.getElementById('change-to-sign-up')
        link.onclick = () => {
            clearLForm()
            signUpFunc()
            return false
        }

        const xIcon = document.getElementById('login-x');
        xIcon.onclick = () => clearLForm()

        return false
    }

    const msgFunc = () => {
        const msgModal = document.getElementById('msg')
        msgModal.style.display = 'flex'
        const cancelBtn = document.getElementById('msg-cancel')

        const form = document.getElementById('create-post-form')
        
        const clearForm = () => {
        form.elements['post_title'].value = ''
        form.elements['post_message'].value = ''
        msgModal.style.display = 'none'
    }
        

        cancelBtn.onclick = (e) => {
            e.preventDefault()
            clearForm()
        }
        
        const xIcon = document.getElementById('msg-x');
        xIcon.onclick = () => clearForm()

        return false
    }
    
    if (signUpBtn) {
      signUpBtn.onclick = signUpFunc;
    }
    if (loginBtn) {
      loginBtn.onclick = loginFunc;
    }
    if (msgBtn) {
      msgBtn.onclick = msgFunc;
    }


