nav
    div.navigation 
        h1#nav-title
            a(href='/') Members Only
        div.nav-right
        //- TODO Become a member only visible if logged in, add become an admin 
        -//
            if user && !user.isMember
                a(href="membership") Become a Member 
            div.nav-buttons
                if user
                    span=user
                    a.btn-link#logout-btn(href='/logout') Log Out
                else
                    a.btn-link#sign-up-btn(href='/sign-up') Sign Up 
                    a.btn-link#login-btn(href='/login') Log In