nav
    div.navigation 
        h1#nav-title
            a(href='/') Members Only
        div.nav-right
            if user
                div.member-status
                    div=user.username          
                    div=user.isAdmin ? 'admin' : user.isMember ? 'member' : 'non-member'
            if user && !user.isAdmin
                div
                    if user.isMember
                        a.btn-link(href="/admin") Become an Admin
                    else
                        a.btn-link(href="/membership") Become a Member 
            div.nav-buttons
                if user
                    a.btn-link#logout-btn(href='/logout') Log Out
                else
                    a.btn-link#sign-up-btn(href='/sign-up') Sign Up 
                    a.btn-link#login-btn(href='/login') Log In