nav
    div.navigation 
        h1 Members Only
        div.nav-right
            a(href="membership") Become a Member 
            div.nav-buttons
                button#sign-up-btn Sign Up
                button#login-btn Log In